@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf)
}

@import 'variables';

html {
  font-size: $root-font-size;
  font-family: $font-family;
  max-width: $page-width;
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: white;
}

body {
  margin: 0;
  width: 100vw;
}




.mirrorX {
  transform: rotateY(180deg);
}


.VTOButton {
  cursor: pointer;
  flex-grow: 1;
  font-variant: small-caps;
  font-size: 14pt;
  text-align: center;
  min-width: 110px;
  box-sizing: border-box;
  padding-top: 10px;
  background: rgba(0, 0, 0, 0.5);
  height: 40px;
  color: #eee;
}

.VTOButton:hover {
  background: rgba(50, 50, 50, 0.5);
  color: #fff;
}

.VTOButtons {
  display: flex;
  position: fixed;
  z-index: 10;
  width: 100vw;
  bottom: 0;
  left: 0;
  flex-direction: row;
  flex-wrap: wrap;
}